:root {
  --color-secondary-color: #e74e84;
  --color-gray-50: #f9fafb;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: Poppins;
  line-height: 1.5;
}

/* Custom Scroll Style */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(203, 203, 203);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b5563;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f2937;
}
